<ul>
  {{#each status}}
    <li class="p-skill__item">
      {{name}}
        <table class="p-skill__status">
          <tbody>
          <tr>
            <td class="p-skill__structure"></td>
            <td class="p-skill__structure"></td>
            <td class="p-skill__structure"></td>
          </tr>
          </tbody>
        </table>
        <div class="p-skill__gauge--{{name}}"></div>
    </li>
  {{/each}}
</ul>